h1 {
 color: red;
}
h2{
   color: red; 
   font-style: italic;
}
.con{
    color: maroon ;
    line-height: 40px;
}
.con2{
text-decoration: line-through;
}
.con3{
    background-color: yellow ;
}
.con4{
    text-decoration: underline;
    font-style: italic;
}
.con5{
    color: maroon ;
    letter-spacing: 5px;
}
p{
    color: maroon;
}
a{
    color: red; 
    background-color:yellow;
    font-style: italic;
    text-decoration: none;
}